/*escritura*/
h1 {color:goldenrod; 
    text-align: center; 
    font-size: 40px; 
    font-family: 'Libre Baskerville', serif;}

p {color:white;
    margin: 20px;}

a {margin:20px}

/*encajado*/
section {background-color: black; 
    border-radius: 30px; 
    border-color: goldenrod; 
    border-style:groove; 
    border-width: 10px;
    width: 25%;
    margin-left: 30px;}

/*clases*/
.skills {display: flex;
    flex-direction: row;}

.habilidades {display: flex;
    flex-direction: column;}
/*multimedia*/
iframe { width: 800px; 
    height: 650px;
    margin: 30px;}

img {width: 100px;
    height: 100px;
    transition: 1s;}
    img:hover {width: 150px;
        height: 150px;}

/*otros*/
@media only screen and (max-width: 600px) {
    .skills {display: flex;
        flex-direction: column;
        width: 100%; 
        height: auto;}
    
    .habilidades {display: flex;
        flex-direction: row;
        width: 100%; 
        height: auto;}

    iframe { width: 100%; 
        height: auto;}
        
    img {width: 50px;
        height: 50px;}

    section {width: 100%;}
}